---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
    permalink: "index.html"
---

<div class="flex flex-wrap -mx-2">
    {% include "partials/projects-grid.njk" %}
</div>