---
layout: default
title: Prisar
---

<div class="flex items-center justify-center">
  <div class="overflow-x-auto shadow-md rounded-xl">
    <div class="table min-w-full rounded-xl border">
      <div class="table-header-group bg-gray-50 dark:bg-neutral-700">
        <div class="table-row text-slate-700 shadow">
          <div class="table-cell py-3 px-4 text-start text-gray-500 uppercase dark:text-neutral-400">Arbeid</div>
          <div class="table-cell py-3 px-4 text-start text-gray-500 uppercase dark:text-neutral-400">Timespris</div>
          <div class="table-cell py-3 px-4 text-start text-gray-500 uppercase dark:text-neutral-400">Omtale</div>
        </div>
      </div>
      <div class="table-row-group text-slate-700">
	  {%- for key, elem in prisar %}
        <div class="table-row border-b border-blue-gray-200">
          {% if collections.tagList[key | lower ] > 0 %}
            <a class="table-cell py-3 px-4 hover:bg-gray-100" href="../tags/{{ key }}">{{ key }}</a>
          {%- else -%}
            <div class="table-cell py-3 px-4">{{ key }}</div>
          {%- endif -%}
          <div class="table-cell py-3 px-4">{{ elem.price }}</div>
          <div class="table-cell py-3 px-4">{{ elem.description  }}</div>
        </div>
        {%- endfor %}
      </div>
    </div>
  </div>
</div>