---
layout: default
title: Prisar
---

<div class="flex flex-col items-center text-lg">
    <table class="table-auto">
    <thead>
        <tr>
            <td>Arbeid</td>
            <td>Timespris (NOK)</td>
            <td>Omtale</td>
        </tr>
    </thead>
    <tbody>
        {%- for key, elem in prisar %}
        <tr>
            <td>{% if collections.tagList[key | lower ] > 0 %}<a href="../tags/{{ key }}"> {% endif %}{{ key }}</a> </td> <td>{{ elem.price }}</td> <td>{{ elem.description }} </td>
        </tr>
        {%- endfor %}
    </tbody>
	</table>
</div>