<footer class="mt-20 px-10 py-8 bg-slate-200">
    <div class="max-w-5xl mx-auto text-slate-700 text-center">
        <a href="{{ '/' | url }}" class="font-medium" target="_blank" rel="noopener">{{ site.title }}</a> | 
        Tlf: {{ author.phone }} | 
        E-post: {{ author.email }}
    </div>
    <!-- Made by {{ developer.name }} ({{ developer.homepage | url }}) using Eleventy (https://www.11ty.dev) and Tailwind CSS (https://tailwindcss.com) -->
</footer>